name: C CI arm64

on:
  pull_request:
  workflow_dispatch:
  push:
    branches-ignore:
      - '_**'
      - '**wip**'

jobs:
  build:
    if: ${{ ! startsWith(github.event.head_commit.message, 'WIP') }}
    strategy:
      matrix:
        os: [ ubuntu-latest ]
    runs-on: self-hosted

    steps:
    - name: Checkout
      uses: actions/checkout@v6
    - name: Install native packages in Linux
      run: |
        sudo apt update &&
        sudo apt install --no-install-recommends libcriterion-dev valgrind
    - name: Setup environmental variables
      run: |
        echo OPTFLAGS='-Og -ggdb3 -DDEBUG' >> "$GITHUB_ENV"
        echo XCFLAGS=-Werror >> "$GITHUB_ENV"
        echo UBSAN_OPTIONS=halt_on_error=1:print_stacktrace=1 >> "$GITHUB_ENV"
    - name: Make binaries
      run: make -j4 schaf{,-san} test/basic-test{,-san}
    - name: Test
      run: make test
    - name: Test with Sanitizers
      run: make sanitize
    - name: Test SEGV
      run: ./schaf-san -S test/segv-parsing.scm
    - name: Test with stress
      run: make test-stress
    - name: Test optimized
      run: make clean && make -j4 test OPTFLAGS='-O3 -flto=auto'
    - name: Test optimized with Sanitizers
      run: make -j4 sanitize OPTFLAGS='-O3 -flto=auto'
    - name: Test optimized SEGV
      run: ./schaf-san -S test/segv-parsing.scm
    - name: Test optimized with stress
      run: make test-stress OPTFLAGS='-O3 -flto=auto'
    - name: Clang - Make binaries
      run: make clean && make -j4 schaf{,-san} test/basic-test{,-san} CC=clang
    - name: Clang - Test
      run: make test CC=clang
    - name: Clang - Test with Sanitizers
      run: make sanitize CC=clang
    - name: Clang - Test SEGV
      run: ./schaf-san -S test/segv-parsing.scm
    - name: Clang - Test with stress
      run: make test-stress CC=clang
    - name: Clang - Test optimized
      run: make clean && make -j4 test CC=clang OPTFLAGS='-O3 -flto=auto'
    - name: Clang - Test optimized with Sanitizers
      run: make -j4 sanitize CC=clang OPTFLAGS='-O3 -flto=auto'
    - name: Clang - Test optimized SEGV
      run: ./schaf-san -S test/segv-parsing.scm
    - name: Clang - Test optimized with stress
      run: make test-stress CC=clang OPTFLAGS='-O3 -flto=auto'
